<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="AllTestsSuite" verbose="1"> -->
    <suite name="Annotation Execution Suite" >
        <test name="MyTestGroup">
        <parameter name="program"  value="Api Automation"/>
            <classes>
                <!-- <class name="TestNG" /> -->
                <class name="TestNG1" />
            </classes>
        </test>
    </suite>
<!-- </suite> -->
